body{
  background-image: url("https://i.postimg.cc/26qdZ47q/ivory.jpg");
  background-repeat: no repeat;
  background-size: cover;
  }
nav {
  			display: flex;
  			flex-wrap: wrap;
  			align-items: center;
  			background-color: white;
  			justify-content: space-between;
  			overflow: auto;
        padding: 1px 5px;
}
ul li {
  			position: relative;
  			margin: 1px 15px;
  			list-style: none;
  			display: inline-block;
  			padding: 2px;
  			font-size:20px;
  			font-family: arial;
}
ul li a{
text-decoration: none; 
cursor: pointer;
color: blue;
}
ul li a:hover {
  background-color: black;
}
h1 {
  max-width: 100;
  font-size: 50px;
  color: black;
  text-align: left;
  margin: 30px;
}
img {
  width: 18%;
  margin: 10px;
}

div {
  font-weight:bold;
}
